{% include 'components/navbar_admin.html' %}
{% block content %}
<div class="container mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
    <h1 class="text-3xl font-bold mb-6 text-center">เกมทั้งหมด</h1>
    <table class="table-auto w-full bg-white shadow-md rounded-lg">
        <thead>
            <tr>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Rank 1</th>
                <th class="px-4 py-2">Rank 2</th>
                <th class="px-4 py-2">Rank 3</th>
                <th class="px-4 py-2">Rank 4</th>
                <th class="px-4 py-2">Rank 5</th>
                <th class="px-4 py-2">Rank 6</th>
                <th class="px-4 py-2">Rank 7</th>
                <th class="px-4 py-2">Rank 8</th>
                <th class="px-4 py-2">Rank 9</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td class="border px-4 py-2">{{ game.name }}</td>
                <td class="border px-4 py-2">{{ game.rank1 }}</td>
                <td class="border px-4 py-2">{{ game.rank2 }}</td>
                <td class="border px-4 py-2">{{ game.rank3 }}</td>
                <td class="border px-4 py-2">{{ game.rank4 }}</td>
                <td class="border px-4 py-2">{{ game.rank5 }}</td>
                <td class="border px-4 py-2">{{ game.rank6 }}</td>
                <td class="border px-4 py-2">{{ game.rank7 }}</td>
                <td class="border px-4 py-2">{{ game.rank8 }}</td>
                <td class="border px-4 py-2">{{ game.rank9 }}</td>
                <td class="border px-4 py-2 text-center">
                    <a href="{% url 'edit_game' game.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
