<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Requests</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="container mx-auto my-10">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded-md shadow-md">
            <h1 class="text-xl font-bold mb-4">คำขอเข้าร่วม</h1>

            {% if error_message %}
                <div id="notification" class="fixed top-4 right-4 p-4 bg-yellow-200 text-yellow-800 rounded-md shadow-md">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}

            <ul>
                {% for request in join_requests %}
                    <li class="flex items-center justify-between border-b border-gray-300 py-2">
                        <span>{{ request.user.username }} wants to join {{ request.team.name }}</span>
                        <div class="flex space-x-2">
                            <a href="{% url 'user_profile' user_id=request.user.id %}" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-700">ดูโปรไฟล์</a>
                            <form method="post" action="{% url 'accept_join_request' request.id %}">
                                {% csrf_token %}
                                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700">ตอบรับ</button>
                            </form>
                            <form method="post" action="{% url 'reject_join_request' request.id %}">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-700">ปฏิเสธ</button>
                            </form>
                        </div>
                    </li>
                {% empty %}
                    <li class="py-2 px-4 border-b text-center text-gray-500">ไม่พบคำขอเข้าร่วม</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var notification = document.getElementById('notification');
            if (notification) {
                setTimeout(function() {
                    notification.style.display = 'none';
                }, 5000); // Hide notification after 5 seconds
            }
        });
    </script>
</body>
</html>
