<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Detail</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="container mx-auto my-10">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded-md shadow-md">
            <h1 class="text-2xl font-bold mb-4">ชื่อทีม : {{ team.name }}</h1>
            <p class="mb-4"><strong>ประเภทเกม:</strong> {{ team.game.name }}</p>
            <p class="mb-4"><strong>ผู้เล่นที่ต้องการ:</strong> {{ team.members_needed }}</p>
            <p class="mb-4"><strong>จำนวนผู้เล่น:</strong> {{ total_members }}</p>
            <p class="mb-4"><strong>แรงค์ต่ำสุด:</strong> {{ team.required_rank_min }}</p>
            <p class="mb-4"><strong>แรงค์สูงสุด:</strong> {{ team.required_rank_max }}</p>
        </div>
    </div>
</body>
</html>
